---
const { ele, modifier } = Astro.props;
---

{
  ele === "h1" ? (
    <h1 class={modifier}>
      <slot />
    </h1>
  ) : ele === "h2" ? (
    <h2 class={modifier}>
      <slot />
    </h2>
  ) : ele === "h3" ? (
    <h3 class={modifier}>
      <slot />
    </h3>
  ) : ele === "h4" ? (
    <h4 class={modifier}>
      <slot />
    </h4>
  ) : ele === "h5" ? (
    <h5 class={modifier}>
      <slot />
    </h5>
  ) : ele === "h6" ? (
    <h6 class={modifier}>
      <slot />
    </h6>
  ) : ele === "p" ? (
    <p class={modifier}>
      <slot />
    </p>
  ) : (
    <h1 class={modifier}>
      <slot />
    </h1>
  )
}

<style lang="scss">
  @use "../../style/global/headlines";
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @extend .hl-one;
  }
</style>
