---
import { Image } from "astro:assets";
import "./dramQuoteImages.scss";
const { data } = Astro.props;
---

<div class="dram-quote-images">
  <div class="dram-quote-images-wrap">
    <div class="dram-quote-images-content">
      <p class="hl-two hl-white">{data.quote}</p>
      <p class="hl-four hl-white">{data.quoteAuthor}</p>
    </div>
    <div class="dram-quote-images-imgs-wrap">
      <div class="dram-quote-images-one">
        <Image src={data.imageOne.sourceUrl} alt="" width="750" height="750" />
      </div>
      <div class="dram-quote-images-two">
        <Image src={data.imageTwo.sourceUrl} alt="" width="750" height="750" />
      </div>
      <div class="dram-quote-images-three">
        <Image
          src={data.imageThree.sourceUrl}
          alt=""
          width="750"
          height="750"
        />
      </div>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const tigger = document.querySelector(".dram-quote-images");
  const quote = document.querySelector(".dram-quote-images-content p.hl-two");

  console.log("HELLO THERE!");

  gsap
    .timeline({
      scrollTrigger: {
        trigger: tigger,
        markers: false,
        start: "top 40%",
        scrub: false,
      },
    })
    .fromTo(
      quote,
      { autoAlpha: 0, x: 100 },
      { autoAlpha: 1, ease: "power2.out", duration: 1.5, x: 0 },
    );
</script>
