---
import Layout from "../../../layouts/Layout.astro";
import RegionsHero from "../../../components/RegionsComponents/RegionsHero.astro";
import Pagination from "../../../components/Pagination/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
        query whiskeyRegionsQuery {
            whiskeyRegions(first: 999999) {
                nodes {
                    name
                    slug
                    uri
                }
            }
        }
      `,
    }),
  });

  const { data } = await response.json();
  const allRegions = data.whiskeyRegions.nodes;
  return paginate(allRegions, { pageSize: 4 });
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
      query whiskiesPageQuery {
        acfOptionsWhiskiesPage {
          whiskiesPage {
            whiskyRegionsTitle
            whiskyRegionsHeroImage {
              altText
              sourceUrl
            }
          }
        }
      }
    `,
  }),
});

const {
  data: {
    acfOptionsWhiskiesPage: { whiskiesPage },
  },
} = await response.json();
const { page } = Astro.props;

console.log("page: ", page);
const whiskeyRegions = page["data"];
console.log("whiskeyRegions", whiskeyRegions);
---

<Layout>
  <RegionsHero
    heroSrc={whiskiesPage.whiskyRegionsHeroImage.sourceUrl}
    heroAlt={whiskiesPage.whiskyRegionsHeroImage.altText}
  />
  <div>
    <h1>Expolore by whisk(e)y Regions</h1>
    {
      whiskeyRegions.map((region) => (
        <p>
          <a href={`/whiskies/regions/${region.slug}`}>{region.name}</a>
        </p>
      ))
    }
  </div>
  <Pagination page={page} />
</Layout>
