---
import { replaceUrls } from "../../utils/replaceUrls";
import "./navigation.scss";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query MainMenuQuery {
        mainMenu {
            mainMenu {
              callToActionButton {
                destination {
                  ... on Page {
                    link
                  }
                }
                label
                fieldGroupName
              }
              menuItems {
                menuItem {
                label
                destination {
                  ... on Page {
                    link
                }
              }
            }
          }
        }   
      }
    }
  `,
  }),
});

const { data } = await response.json();
const { menuItems, callToActionButton } = data.mainMenu.mainMenu;

if (callToActionButton) {
  const ctaHref = replaceUrls(
    callToActionButton.destination.link,
    Astro.url.origin,
  );
  callToActionButton.href = ctaHref;
}
---

<nav class="main-navigation">
  <div class="navigation-drawer">
    <ul>
      {
        menuItems.map(({ menuItem }) => {
          const href = replaceUrls(menuItem.destination.link, Astro.url.origin);
          return (
            <li>
              <a class="p-two" href={href}>
                {menuItem.label}
              </a>
            </li>
          );
        })
      }

      {
        callToActionButton && (
          <li class="cta">
            <a class="p-two btn-one" href={callToActionButton.href}>
              {callToActionButton.label}
            </a>
          </li>
        )
      }
    </ul>
  </div>
  <button class="menu-toggle" type="button">Menu</button>
</nav>

<script>
  const mainNav = document.querySelector(".main-navigation");
  const menuButton = document.querySelector(".menu-toggle");

  menuButton.addEventListener("click", () => {
    if (mainNav.classList.contains("mobile-active")) {
      mainNav.classList.remove("mobile-active");
    } else {
      mainNav.classList.add("mobile-active");
    }
  });
</script>
