---
import { replaceUrls } from "../../utils/replaceUrls";
import "./navigation.scss";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query MainMenuQuery {
        mainMenu {
            mainMenu {
              callToActionButton {
                destination {
                  ... on Page {
                    link
                  }
                }
                label
                fieldGroupName
              }
              menuItems {

                menuItem {
                  label
                  destination {
                    ... on Page {
                      link
                    }
                  }
                }
                subMenuItems {
                  label
                  linkType
                  slug
                  destination {
                    ... on Page {
                      id
                      link
                    }
                  }
                }
              }
        }   
      }
    }
  `,
  }),
});

const { data } = await response.json();
const { menuItems, callToActionButton } = data.mainMenu.mainMenu;

if (callToActionButton) {
  const ctaHref = replaceUrls(
    callToActionButton.destination.link,
    Astro.url.origin,
  );
  callToActionButton.href = ctaHref;
}
---

<div class="main-nav">
  <nav class="main-navigation">
    <div class="navigation-drawer">
      <ul>
        {
          menuItems.map(({ menuItem, subMenuItems }) => {
            const href = replaceUrls(
              menuItem.destination.link,
              Astro.url.origin,
            );
            return (
              <li>
                <a class="p-two" href={href}>
                  {menuItem.label}
                </a>
                {subMenuItems && (
                  <ul class="sub-menu">
                    {subMenuItems.map((sitem) => {
                      const linkType = sitem.linkType;

                      if (linkType === "page") {
                        const href = replaceUrls(
                          sitem.destination.link,
                          Astro.url.origin,
                        );
                        return (
                          <li>
                            <a href={href}>{sitem.label}</a>
                          </li>
                        );
                      } else if (linkType === "custom") {
                        return (
                          <li>
                            <a href={`/${sitem.slug}`}>{sitem.label}</a>
                          </li>
                        );
                      }
                    })}
                  </ul>
                )}
              </li>
            );
          })
        }

        {
          callToActionButton && (
            <li class="cta">
              <a class="p-two btn-one" href={callToActionButton.href}>
                {callToActionButton.label}
              </a>
            </li>
          )
        }
      </ul>
    </div>
  </nav>
  <button class="menu-toggle" type="button">Menu</button>
</div>

<script>
  const mainNav = document.querySelector(".main-navigation");
  const menuButton = document.querySelector(".menu-toggle");

  menuButton.addEventListener("click", () => {
    if (mainNav.classList.contains("mobile-active")) {
      mainNav.classList.remove("mobile-active");
    } else {
      mainNav.classList.add("mobile-active");
    }
  });
</script>
