---
import Hero from "../components/Hero/Hero.astro";
import HeroV2 from "../components/HeroV2/HeroV2.astro";
import HeroV3 from "../components/HeroV3/HeroV3.astro";
import HeroQuote from "../components/HeroQuote/HeroQuote.astro";
import ReviewSlider from "../components/ReviewSlider/ReviewSlider.jsx";
import ThreeBlocks from "../components/ThreeBlocks/ThreeBlocks.astro";
import LatestPosts from "../components/LatestPosts/LatestPosts.astro";
import DramQuote from "../components/DramQuote/DramQuote.astro";
import DramQuoteImages from "../components/DramQuoteImages/DramQuoteImages.astro";
import WysiwygContent from "../components/WysiwygContent/WysiwygContent.astro";
import WysiwygContentSideLogo from "../components/WysiwygContentSideLogo/WysiwygContentSideLogo.astro";
import ContentImageFullWidth from "../components/ContentImageFullWidth/ContentImageFullWidth.astro";
import SliderThreeImages from "../components/SliderThreeImages/SliderThreeImages.jsx";
import BigFontContent from "../components/BigFontContent/BigFontContent.astro";
import ContactForm from "../components/ContactForm/ContactForm.astro";
import JustImages from "../components/JustImages/JustImages.astro";
import DisplayReviews from "../components/DisplayReviews/DisplayReviews.astro";
import DisplayPostArticles from "../components/DisplayPostArticles/DisplayPostArticles.astro";
import PageIntroTextBlock from "../components/PageIntroTextBlock/PageIntroTextBlock.astro";
const { blocks, reviews, posts } = Astro.props;
---

{
  blocks.map((block) => {
    switch (block.fieldGroupName) {
      case "Page_Pagecomponents_Components_Hero":
        return <Hero data={block} />;

      case "Page_Pagecomponents_Components_HeroV2":
        return <HeroV2 data={block} />;

      case "Page_Pagecomponents_Components_HeroV3":
        return <HeroV3 data={block} />;

      case "Page_Pagecomponents_Components_HeroQuote":
        return <HeroQuote data={block} />;

      case "Page_Pagecomponents_Components_ReviewSlider":
        return <ReviewSlider client:load data={block} reviews={reviews} />;

      case "Page_Pagecomponents_Components_ThreeBlocks":
        return <ThreeBlocks data={block} />;

      case "Page_Pagecomponents_Components_DisplayLatestPosts":
        return <LatestPosts data={block} />;

      case "Page_Pagecomponents_Components_DramQuote":
        return <DramQuote data={block} />;

      case "Page_Pagecomponents_Components_DramQuoteImages":
        return <DramQuoteImages data={block} />;

      case "Page_Pagecomponents_Components_WysiwygContent":
        return <WysiwygContent data={block} />;

      case "Page_Pagecomponents_Components_WysiwygContentSideLogo":
        return <WysiwygContentSideLogo data={block} />;

      case "Page_Pagecomponents_Components_ContentImageFullWidth":
        return <ContentImageFullWidth data={block} />;

      case "Page_Pagecomponents_Components_SliderThreeImages":
        return <SliderThreeImages client:load data={block} />;

      case "Page_Pagecomponents_Components_BigFontContent":
        return <BigFontContent data={block} />;

      case "Page_Pagecomponents_Components_ContactForm":
        return <ContactForm data={block} />;

      case "Page_Pagecomponents_Components_JustImages":
        return <JustImages data={block} />;

      case "Page_Pagecomponents_Components_DisplayReviews":
        return <DisplayReviews data={block} reviews={reviews} />;

      case "Page_Pagecomponents_Components_DisplayPostArticles":
        return <DisplayPostArticles data={block} posts={posts} />;

      case "Page_Pagecomponents_Components_PageIntroTextBlock":
        return <PageIntroTextBlock data={block} />;

      default:
        return (
          <div>
            <p>Sorry cannot find this component -- {block.fieldGroupName}</p>
          </div>
        );
    }
  })
}
