---
import Hero from "../components/Hero/Hero.astro";
import ReviewSlider from "../components/ReviewSlider/ReviewSlider.jsx";
import ThreeBlocks from "../components/ThreeBlocks/ThreeBlocks.astro";
import LatestPosts from "../components/LatestPosts/LatestPosts.astro";
import DramQuote from "../components/DramQuote/DramQuote.astro";
const { blocks, reviews } = Astro.props;
---

{
  blocks.map((block) => {
    switch (block.fieldGroupName) {
      case "Page_Pagecomponents_Components_Hero":
        return <Hero data={block} />;

      case "Page_Pagecomponents_Components_ReviewSlider":
        return <ReviewSlider client:load data={block} reviews={reviews} />;

      case "Page_Pagecomponents_Components_ThreeBlocks":
        return <ThreeBlocks data={block} />;

      case "Page_Pagecomponents_Components_DisplayLatestPosts":
        return <LatestPosts data={block} />;

      case "Page_Pagecomponents_Components_DramQuote":
        return <DramQuote data={block} />;

      default:
        return (
          <div>
            <p>Sorry cannot find this component -- {block.fieldGroupName}</p>
          </div>
        );
    }
  })
}
