---
import { Image } from "astro:assets";
import "./post.scss";
const { post } = Astro.props;

let formattedDate = new Date(post.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="single-post-display">
  <div class="single-post-display-image">
    <Image
      src={post.postsComponents.featuredImage.sourceUrl}
      alt={post.title}
      width="750"
      height="1500"
    />
  </div>
  <div class="single-post-display-text">
    <div class="single-post-display-date">
      <p class="p-one">{formattedDate}</p>
    </div>
    <div class="single-post-display-title">
      <h3 class="hl-four hl-white">
        <a class="hl-four hl-white" href={`/articles/${post.slug}`}
          >{post.title}</a
        >
      </h3>
    </div>
  </div>
</div>
