---
import "./intro.scss";
import Wrappper from "../../shared/Wrapper.astro";
import Headline from "../../shared/Headline.astro";
import { Image } from "astro:assets";
import filtered from "../../../assets/icons/badges-non-chill-filtered.png";
import coloured from "../../../assets/icons/badges-no-colour.png";
const { data } = Astro.props;
const whiskeyRegions = data.whiskeyRegions.nodes[0].name;
const whiskyTypes = data.whiskyTypes.nodes[0].name;
---

<div class="review-intro">
  <Wrappper wrapType="med" classes="review-intro-wrapper">
    <div class="review-intro-featured">
      <div class="review-intro-featured-image">
        <Image
          src={data.reviewsContent.reviewArticleImage.sourceUrl}
          alt={data.reviewsContent.reviewArticleImage.altText}
          width="750"
          height="1000"
        />
      </div>
    </div>
    <div class="review-intro-header">
      <div class="review-intro-header-stats">
        <div class="review-intro-header-stats-abv">
          <Headline
            ele="p"
            hlstyle="four"
            classes="review-intro-header-stats-abv-content"
            >{data.reviewsContent.stats.abv}&#37; Abv</Headline
          >
        </div>
        <div class="review-intro-header-stats-filtered">
          <div>
            <Image src={filtered} alt={"Non-Chilled Filtered"} />
          </div>
        </div>
        <div class="review-intro-header-stats-colour">
          <div>
            <Image src={coloured} alt={"No Colour Added"} />
          </div>
        </div>
      </div>
      <Headline ele="h1" hlstyle="three" classes="review-intro-header-title"
        >{data.title},<span>{whiskeyRegions}, {whiskyTypes}</span></Headline
      >
      <div
        set:html={data.reviewsContent.description}
        class="review-intro-header-description"
      />
    </div>
  </Wrappper>
</div>
