---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import BlockRenderer from "../Renderers/BlockRenderer.astro";

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
          query allPages {
            pages(first: 9999999) {
              nodes {
                uri
              }
            }
          }
      `,
    }),
  });

  const { data } = await response.json();
  return data.pages.nodes.map((page) => {
    return {
      params: { slug: page.uri === "/" ? undefined : page.uri },
      props: { trevor: "rounce" },
    };
  });
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query PageQuery($uri: String!) {
      nodeByUri(uri: $uri) {
        ... on Page {

          seo {
            title
            metaDesc
            twitterTitle
            twitterDescription
            twitterImage {
              sourceUrl
            }
          }

          featuredImage {
            node {
              sourceUrl
            }
          }

          id
          slug
          title
          pageComponents {
            components {
              ... on Page_Pagecomponents_Components_Hero {
                fieldGroupName
                heroContent {
                  boxColour
                  fieldGroupName
                  title
                  button {
                    buttonText
                    buttonType
                    buttonUrl
                    pageLink {
                      ... on Page {
                        id
                        link
                      }
                    }
                  }
                }
                heroImage {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_SearchWhiskies {
                displayWhiskiesSearch
                fieldGroupName
              }

              ... on Page_Pagecomponents_Components_WysiwygContent {
                fieldGroupName
                mainContent
              }

              ... on Page_Pagecomponents_Components_ReviewSlider {
                displayReviewSlider
                fieldGroupName
              }


              ... on Page_Pagecomponents_Components_ThreeBlocks {
                fieldGroupName
                imageLeft {
                  sourceUrl
                }
                imageRight {
                  sourceUrl
                }
                content {
                  bigContent
                  logoOrIcon {
                    sourceUrl
                  }
                  pageLinkOne {
                    ... on Page {
                      title
                      link
                    }
                    ... on Post {
                      title
                      link
                    }
                    ... on SpritReview {
                      title
                      link
                    }
                    ... on Whiskey {
                      title
                      link
                    }
                  }
                  pageLinkTwo {
                    ... on Page {
                      title
                      link
                    }
                    ... on Post {
                      title
                      link
                    }
                    ... on SpritReview {
                      title
                      link
                    }
                    ... on Whiskey {
                      title
                      link
                    }
                  }
                }
              }
              ... on Page_Pagecomponents_Components_DisplayLatestPosts {
                displayLatestPosts
                fieldGroupName
                title
              }

              ... on Page_Pagecomponents_Components_DramQuote {
                author
                fieldGroupName
                quote
                logoOrIcon {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_HeroV2 {
                fieldGroupName
                title
                heroImage {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_HeroV3 {
                fieldGroupName
                heroTitleBottom
                heroTitleTop
                heroImage {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_HeroQuote {
                fieldGroupName
                heroQuoteAuthor
                heroQuote
                heroImage {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_WysiwygContent {
                fieldGroupName
                mainContent
                mainTitle
                backgroundColor
              }

              ... on Page_Pagecomponents_Components_DramQuoteImages {
                fieldGroupName
                quote
                quoteAuthor
                imageOne {
                  sourceUrl
                }
                imageTwo {
                  sourceUrl
                }
                imageThree {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_WysiwygContentSideLogo {
                fieldGroupName
                wysiwygContent
                imageLogo {
                  sourceUrl
                }
              }

              ... on Page_Pagecomponents_Components_ContentImageFullWidth {
                mainContent
                fieldGroupName
                sideImage {
                  sourceUrl
                }
                middleIcon {
                  sourceUrl
                }
                
              }



              ... on Page_Pagecomponents_Components_SliderThreeImages {
                fieldGroupName
                slides {
                  image {
                    sourceUrl
                  }
                }
              }

              ... on Page_Pagecomponents_Components_BigFontContent {
                fieldGroupName
                sectionTitle
                sectionContent
                backgroundColor
              }

              ... on Page_Pagecomponents_Components_ContactForm {
                fieldGroupName
                displayContactForm
              }

              ... on Page_Pagecomponents_Components_JustImages {
                fieldGroupName
                imageOne {
                  sourceUrl
                  altText
                }
                imageTwo {
                  sourceUrl
                  altText
                }
              }

              ... on Page_Pagecomponents_Components_DisplayReviews {
                fieldGroupName
                displayReviews
              }


              ... on Page_Pagecomponents_Components_DisplayPostArticles {
                fieldGroupName
                displayPostArticles
              }


            }
          }
        }
      }

      spritsReviews {
        nodes {
          title
          slug
          date
          reviewsContent {
            articleExcerpt
            adventureWorthy
            featuredImage {
              sourceUrl
            }

            reviewArticleImage {
              sourceUrl
            }
          }
          whiskeyRegions {
            nodes {
              name
            }
          }
          whiskyTypes {
            nodes {
              name
            }
          }
        }
      }

      posts {
        nodes {
          slug
          title
          date
          postsComponents {
            articleExcerpt
            featuredImage {
              altText
              sourceUrl
            }
          }
        }
      }



    }
  `,
    variables: {
      uri: Astro.params["slug"] || "/",
    },
  }),
});

const { data } = await response.json();
const blocks = data.nodeByUri.pageComponents.components;
const reviews = data.spritsReviews.nodes;
const posts = data.posts.nodes;
---

<Layout
  seoData={data.nodeByUri.seo}
  seoImage={data?.nodeByUri?.featuredImage?.node?.sourceUrl
    ? data?.nodeByUri?.featuredImage?.node?.sourceUrl
    : null}
>
  <main>
    <BlockRenderer blocks={blocks} reviews={reviews} posts={posts} />
  </main>
</Layout>
