---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
        query whiskiesQuery {
          whiskies(first: 999999) {
                nodes {
                    title
                    slug
                    uri
                }
            }
        }
      `,
    }),
  });

  const { data } = await response.json();
  const allWhiskies = data.whiskies.nodes;
  return paginate(allWhiskies, { pageSize: 3 });
}

const { page } = Astro.props;

console.log("page", page);
---

<Layout>
  <div>
    <div>
      <h1>All Whiskies</h1>
      {
        page.data.map((whisky) => (
          <p>
            <a href={`${whisky.slug}`}>{whisky.title}</a>
          </p>
        ))
      }
    </div>

    <nav aria-label="Whiskies">
      {page.url.prev && <a href={`${page.url.prev}`}>Prev</a>}
      {page.url.next && <a href={`${page.url.next}`}>Next</a>}
    </nav>
  </div>
</Layout>

<style>
  div {
    padding-top: 30rem;
  }
</style>
