---
import "./whiskyCard.scss";
import Wrapper from "../shared/Wrapper.astro";
import Headline from "../shared/Headline.astro";
import { Image } from "astro:assets";

const { page, baseSlug } = Astro.props;

console.log("page", page.data);
---

<div class="whiskies">
  <Wrapper>
    {
      page.data.map((pageItem) => {
        console.log("pageItem: ", pageItem);
        return (
          <div class="whisky">
            <div class="whisky-image">
              <Image
                src={pageItem.whiskyContent.featuredImage.sourceUrl}
                alt={pageItem.whiskyContent.featuredImage.altText}
                width="100"
                height="100"
              />
            </div>
            <div class="whisky-content">
              <Headline tag="h3" hlstyle="three" classes="whisky-content-title">
                <a href={`${baseSlug}/${pageItem.slug}`}>{pageItem.title}</a>
              </Headline>
            </div>
          </div>
        );
      })
    }
  </Wrapper>
</div>
