---
import { Image } from "astro:assets";
import "./threeBlocks.scss";
import { replaceUrls } from "../../utils/replaceUrls";
const { data } = Astro.props;

console.log("threeBlocks", data);

const hrefOne = data?.content?.pageLinkOne?.link
  ? replaceUrls(data.content.pageLinkOne.link, Astro.url.origin)
  : null;
const hrefTwo = data?.content?.pageLinkTwo?.link
  ? replaceUrls(data.content.pageLinkTwo.link, Astro.url.origin)
  : null;
---

<div class="three-blocks">
  <div class="three-blocks-wrapper">
    <div class="three-blocks-image-one">
      <Image src={data.imageLeft.sourceUrl} width={750} height={750} alt="" />
    </div>
    <div class="three-blocks-main-content">
      <div class="three-blocks-main-content--logo">
        <div class="three-blocks-main-content--logo--wrap">
          <Image
            src={data.content.logoOrIcon.sourceUrl}
            width={750}
            height={750}
            alt=""
          />
        </div>
      </div>
      <div
        class="three-blocks-main-content--text"
        set:html={data.content.bigContent}
      />

      {
        data.content.pageLinkOne && (
          <div class="three-blocks-main-content--btns">
            {data.content.pageLinkOne && (
              <div class="three-blocks-main-content--btns-one">
                <a class="btn btn-one" href={hrefOne}>
                  {data.content.pageLinkOne.title}
                </a>
              </div>
            )}

            {data.content.pageLinkTwo && (
              <div class="three-blocks-main-content--btns-two">
                <a class="btn btn-two" href={hrefTwo}>
                  {data.content.pageLinkTwo.title}
                </a>
              </div>
            )}
          </div>
        )
      }
    </div>

    <div class="three-blocks-image-two">
      <Image src={data.imageRight.sourceUrl} width={750} height={750} alt="" />
    </div>
  </div>
</div>
