---
const { review } = Astro.props;
import { Image } from "astro:assets";
import Headline from "../shared/Headline.astro";
import Paragraph from "../shared/Paragraph.astro";
import "./reviewCard.scss";
import srcIcon from "../../assets/icons/badges-adventure-worthy.png";

const region = review.whiskeyRegions.nodes[0].name;
const type = review.whiskyTypes.nodes[0].name;

let formattedDate = new Date(review.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="review-card">
  <div class="review-card-wrapper">
    <div class="review-card-image">
      <Image
        src={review.reviewsContent.reviewArticleImage.sourceUrl}
        alt={review.title}
        width={500}
        height={750}
      />
    </div>
    <div class="review-card-content">
      <div class="review-card-content-header">
        <Headline ele="h2" hlstyle="three" modifier="review-header"
          >{review.title}, <span>{region}, {type}</span></Headline
        >
      </div>
      <Paragraph ele="p" pstyle="one"
        >{review.reviewsContent.articleExcerpt}{" "}
        <a href={`/reviews/${review.slug}`}>Read Review</a></Paragraph
      >
      <div class="review-card-content-date">
        <Paragraph ele="p" pstyle="one">{formattedDate}</Paragraph>
      </div>
      {
        !!review.reviewsContent.adventureWorthy && (
          <div class="review-card-content-icon">
            <Image src={srcIcon} alt="" />
          </div>
        )
      }
    </div>
  </div>
</div>
