---
import Layout from "../../../layouts/Layout.astro";
import Pagination from "../../../components/Pagination/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
        query whiskeyTypesQuery {
            whiskyTypes(first: 999999) {
                nodes {
                    name
                    slug
                    uri
                }
            }
        }
      `,
    }),
  });

  const { data } = await response.json();
  const whiskeyTypes = data.whiskyTypes.nodes;
  return paginate(whiskeyTypes, { pageSize: 4 });
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
      query whiskiesPageQuery {
        acfOptionsWhiskiesPage {
          whiskiesPage {
            whiskyOriginTitle
            whiskyOriginHeroImage {
              altText
              sourceUrl
            }
          }
        }
      }
    `,
  }),
});

const {
  data: {
    acfOptionsWhiskiesPage: { whiskiesPage },
  },
} = await response.json();
const { page } = Astro.props;

console.log("page: ", page);
const whiskeyTypes = page["data"];
console.log("allTypes", whiskeyTypes);
---

<Layout>
  <div>
    <h1>Expolore by whisk(e)y Types</h1>
    {
      whiskeyTypes.map((type) => (
        <p>
          <a href={`/whiskies/types/${type.slug}`}>{type.name}</a>
        </p>
      ))
    }
  </div>
  <Pagination page={page} />
</Layout>
